<header>
  Static header hbs {{title}}
  <ul>
    <li>
      <a href="/">Home Page</a>
    </li>
    <li>
      <a href="/about">About Page</a>
    </li>
    <li>
      <a href="/help">Help Page</a>
    </li>
    <li>
      <a href="/weather">Weather Page</a>
    </li>
  </ul>
</header>
